{% extends 'base.html' %}
{% load static %}
{% block content %}
  
  <body>
    
    
    <!-- END header -->
    
    <section class="home-slider-loop-false  inner-page owl-carousel">
      <div class="slider-item" style="background-image: url('{% static 'img/IMG_2102.JPG'%}');">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate">
              <h1>About Us</h1>
              
            </div>
          </div>
        </div>

      </div>

    </section>
    <!-- END slider -->

    <section class="section element-animate">
      <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-center heading-wrap">
              <h2>About Us</h2>
              <span class="back-text">About</span>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <p><img src="{% static "img/img/CYR06667.JPG"%}" alt="" class="img-fluid"></p>
            <p class="mb-5"><img src="{% static "img/CYR06737.JPG"%}"  alt="" class="img-fluid"></p>
          </div>
          
          <div class="col-lg-6 pl-2 pl-lg-5">
            <h2 class="mb-5">About Us</h2>
            <p>At Remote Fitness Training, we're a team of experienced fitness trainers and massage therapists passionate about helping you reach your full potential. With years of expertise in remote coaching and therapeutic massage, we've developed personalized programs that deliver results and promote overall well-being.</p>
            <p>We prioritize communication and collaboration, working closely with you to understand your needs, preferences, and any challenges you may face along the way. Our goal is not just to help you achieve short-term results but to empower you with the knowledge and tools to maintain a healthy and balanced lifestyle for years to come.</p>
            
            <p class="mb-5">At Remote Fitness Training, our holistic approach to wellness goes beyond just physical fitness. We understand that true health encompasses mental, emotional, and spiritual well-being as well. That's why our team not only focuses on designing effective workout routines but also incorporates mindfulness practices, stress-reducing techniques, and nutrition guidance into our programs.</p>
            <p>Join us at Remote Fitness Training and embark on a transformative journey towards a stronger, happier, and healthier you.</p>

          </div>
        </div>
      </div>

    </section>

    <section class="section element-animate">

      <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-center heading-wrap">
              <h2>Gallery</h2>
              <span class="back-text">The Gallery</span>
            </div>
          </div>
        </div>
      </div>

      <div class="owl-carousel centernonloop">
        <a href="img/CYR06667.JPG" class="image-popup">
          <img src=" {% static "img/CYR06724.JPG"%}" alt="" class="img-fluid">
        </a>
        <a href="img/CYR06667.JPG" class="image-popup">
          <img src="{% static "img/CYR06526.JPG"%}" alt="" class="img-fluid">
        </a>
        <a href="img/CYR06667.JPG" class="image-popup">
          <img src="{% static "img/CYR06616.JPG"%}" alt="" class="img-fluid">
        </a>
        <a href="img/CYR06616.JPG" class="image-popup">
          <img src="{% static "img/CYR06709.JPG"%}" alt="" class="img-fluid">
        </a>
        <a href="img/CYR06616.JPG" class="image-popup">
          <img src="{% static "img/CYR06722.JPG"%}" alt="" class="img-fluid">
        </a>
        <a href="img/CYR06724.JPG" class="image-popup">
          <img src="{% static "img/CYR06526.JPG"%}" alt="" class="img-fluid">
        </a> 
        <a href="img/CYR06616.JPG" class="image-popup">
          <img src="{% static "img/CYR06608.JPG"%}" alt="" class="img-fluid">
        </a> 
        <a href="img/CYR06616.JPG" class="image-popup">
          <img src="{% static "img/CYR06667.JPG"%}" alt="" class="img-fluid">
        </a>
        <a href="img/CYR06616.JPG" class="image-popup">
          <img id='pop' src="{% static "img/CYR06737.JPG"%}" alt="" class="img-fluid">
        </a>
         <a href="img/CYR06616.JPG" class="image-popup">
          <img src="{% static "img/CYR06656.JPG"%}" alt="" class="img-fluid">
        </a> 
        <a href="img/CYR06616.JPG" class="image-popup">
          <img src="{% static "img/CYR06702.JPG"%}" alt="" class="img-fluid">
        </a>
      </div>
    </section> <!-- .section -->

    
    

    {% comment %} <section class="section element-animate">

      <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-center heading-wrap">
              <h2>Leadership</h2>
              <span class="back-text">Our Founders</span>
            </div>
          </div>
        </div>
      </div>
        <div class="container">
          <div class="row">
            <div class="major-caousel js-carousel-1 owl-carousel">
              <div>
                <div class="media d-block media-custom text-center">
                  <img src=" {% static "img/person_1.jpg"%}" alt="Image Placeholder" class="img-fluid">
                  <div class="media-body">
                    <h3 class="mt-0 text-black">Mellisa Howard</h3>
                    <p class="lead">CEO, Co-Founder</p>
                  </div>
                </div>
              </div>
              <div>
                <div class="media d-block media-custom text-center">
                 <img src=" {% static "img/person_2.jpg"%}" alt="Image Placeholder" class="img-fluid">
                  <div class="media-body">
                    <h3 class="mt-0 text-black">Mike Richardson</h3>
                    <p class="lead">CEO, Co-Founder</p>
                  </div>
                </div>
              </div>
              <div>
                <div class="media d-block media-custom text-center">
                  <img src=" {% static "img/person_3.jpg"%}" alt="Image Placeholder" class="img-fluid">
                  <div class="media-body">
                    <h3 class="mt-0 text-black">Charles White</h3>
                    <p class="lead">CEO, Co-Founder</p>
                  </div>
                </div>
              </div>

               <div>
              
          <!-- END slider -->
          </div>
        </div>
      
    </section> <!-- .section --> {% endcomment %}

    


    <footer class="site-footer" role="contentinfo">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4 mb-5">
            <h3>About Us</h3>
            <p class="mb-5">Our experienced fitness trainers are dedicated to creating customized plans tailored to your specific goals, whether you're aiming to lose weight, build muscle, improve flexibility, or enhance athletic performance. We believe in the power of consistency and progress, providing ongoing support and motivation to keep you on track and motivated on your fitness journey.</p>
            <ul class="list-unstyled footer-link d-flex footer-social">
              <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
            </ul>

          </div>
          <div class="col-md-5 mb-5">
            <h3>Contact Info</h3>
            <ul class="list-unstyled footer-link">
              <li class="d-block">
                <span class="d-block">Address:</span>
                <span class="text-white">Tema community 25</span></li>
                <li class="d-block"><span class="d-block">Telephone:</span><span class="text-white">+233541234988 / +233201866079</span></li>
                <li class="d-block"><span class="d-block">Email:</span><span class="text-white">miguelbernardmartey@gmail.com
            </ul>
          </div>
          <div class="col-md-3 mb-5">
            <h3>Quick Links</h3>
            <ul class="list-unstyled footer-link">
              <li><a href="{% url 'Home' %}">Home</a></li>
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'services' %}">Services</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-3">
          
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-md-center text-left">
            <p>&copy; Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Remote Fitness Training </a></p>

          </div>
        </div>
      </div>
    </footer>
    <!-- END footer -->

    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

   
  </body>
  {% endblock %}
