{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body>
    
   
    <!-- END header -->
    
    <section class="home-slider-loop-false  inner-page owl-carousel">
      <div class="slider-item" style="background-image: url('{% static 'img/CYR06667.JPG' %}');">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate">
              <h1>Services</h1>
              
            </div>
          </div>
        </div>

      </div>

    </section>
    <!-- END slider -->

    
    <section class="section element-animate">
      <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-center heading-wrap">
              <h2>Featured Services</h2>
              <span class="back-text">Our Services</span>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="blog d-block d-lg-flex">
              <div class="bg-image" style="background-image: url('{% static 'img/CYR06709.JPG'%}');"></div>
              <div class="text">
                <h3>Personalized Workout Plans</h3>
                <p>Tailored plans based on your goals and fitness level.</p>
                <p>Regular assessments and adjustments for optimal progress.</p>
                             
                
              </div>
              
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="blog d-block d-lg-flex">
              <div class="bg-image" style="background-image: url('{% static 'img/IMG_2110.JPG'%}');"></div>
              <div class="text">
                <h3>Expert Coaching</h3>
                <p>Experienced trainers providing guidance and motivation.</p>
                <p>Corrective feedback and form adjustments during sessions.</p>
                
                
              </div>
              
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="blog d-block d-lg-flex">
              <div class="bg-image" style="background-image: url('{% static 'img/CYR06569.JPG'%}');"></div>
              <div class="text">
                <h3>Massage Therapy</h3>
                <p>Professional massage therapy to enhance recovery and relaxation.</p>
                <p>Targeted techniques to relieve muscle tension and improve flexibility.</p>
                
                
              </div>
              
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="blog d-block d-lg-flex">
              <div class="bg-image" style="background-image:url('{% static 'img/CYR06709.JPG'%}');"></div>
              <div class="text">
                <h3>Flexible Subscription Options</h3>
                <p>Weekly, bi-weekly, or customized plans to fit your schedule.</p>
                <p>Convenient booking system for hassle-free scheduling.
                </p>
                
                
              </div>
              
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="blog d-block d-lg-flex">
              <div class="bg-image" style="background-image: url('{% static 'img/CYR06709.JPG'%}');"></div>
              <div class="text">
                <h3>Nutritional Guidance</h3>
                <p>Customized meal plans and dietary recommendations.
                </p>
                <p>Wellness tips to support overall health and fitness goals.
                </p>
                
                
              </div>
              
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="blog d-block d-lg-flex">
              <div class="bg-image" style="background-image: url('{% static 'img/CYR06709.JPG'%}');"></div>
              <div class="text">
                <h3>Progress Tracking and Accountability</h3>
                <p>Monitoring progress and celebrating achievements.
                </p>
                <p>Accountability to keep you on track and motivated.

                </p>
                
                
              </div>
              
            </div>
          </div>
        </div>
      </div>

    </section> <!-- .section -->

    <section class="section element-animate">

      <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-center heading-wrap">
              <h2>How It Works</h2>
              <span class="back-text">How It Works</span>

            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-4 mx-auto mb-4" style="border: 2px solid #e596af; padding: 20px 20px ;">
            <blockquote class="testimonial">
              <p class="text-bold" style="font-size: 2rem;">Progress Tracking:</p>
              <p>&ldquo;Monitor your progress, celebrate milestones, and stay accountable to your goals.&rdquo;</p>
            </blockquote>
          </div>
          
          <div class="col-md-4 mx-auto mb-4" style="border: 2px solid #e596af; padding: 20px 20px;">
            <blockquote class="testimonial" >
              <p class="text-bold" style="font-size: 2rem;"> Book Your Sessions: </p>
              <p> &ldquo;  Use our user-friendly platform to browse available time slots and book your sessions conveniently.

                &rdquo;</p>
            </blockquote>
          </div>
          <div class="col-md-4 mx-auto mb-4" style="border: 2px solid #e596af; padding: 20px;">
            <blockquote class="testimonial" >
              <p class="text-bold" style="font-size: 2rem;"> Personalized Plans: </p>
              <p> &ldquo; Receive expert guidance, form corrections, and motivation during every session.
                &rdquo;</p>


            </blockquote>
          </div>

          <div class="col-md-4 mx-auto mb-4" style="border: 2px solid #e596af; padding: 20px;">
            <blockquote class="testimonial" >
              <p class="text-bold" style="font-size: 2rem;"> Expert Guidance: </p>
              <p> &ldquo; Our trainers will create customized workout plans based on your goals and conduct regular assessments to track progress.  &rdquo;</p>


            </blockquote>
          </div>

          <div class="col-md-4 mx-auto mb-4" style="border: 2px solid #e596af; padding: 20px;">
            <blockquote class="testimonial" >
              <p class="text-bold" style="font-size: 2rem;"> Massage Therapy: </p>
              <p> &ldquo; Enjoy professional massage therapy sessions to enhance recovery, relieve muscle tension, and improve overall well-being.
                &rdquo;</p>


            </blockquote>
          </div>

          <div class="col-md-4 mx-auto mb-4" style="border: 2px solid #e596af; padding: 20px;">
            <blockquote class="testimonial" >
              <p class="text-bold" style="font-size: 2rem;"> Nutritional Support: </p>
              <p> &ldquo; Get personalized meal plans, dietary recommendations, and wellness tips to complement your training.
                &rdquo;</p>


            </blockquote>
          </div>

          <div class="col-md-4 mx-auto text-center"style="border: 2px solid #e596af; padding: 20px;" >
            <blockquote class="testimonial">
              <p class="text-bold" style="font-size: 2rem;">Progress Tracking: </p>
              <p>&ldquo;Monitor your progress and stay accountable to your goals with our personalized progress tracking tools.
                &rdquo;</p>
            </blockquote>
          </div>
          
          
        </div>
      </div>
    </section> <!-- .section -->

    


    <footer class="site-footer" role="contentinfo">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4 mb-5">
            <h3>About Us</h3>
            <p class="mb-5">Our experienced fitness trainers are dedicated to creating customized plans tailored to your specific goals, whether you're aiming to lose weight, build muscle, improve flexibility, or enhance athletic performance. We believe in the power of consistency and progress, providing ongoing support and motivation to keep you on track and motivated on your fitness journey.</p>
            <ul class="list-unstyled footer-link d-flex footer-social">
              <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
            </ul>

          </div>
          <div class="col-md-5 mb-5">
            <h3>Contact Info</h3>
            <ul class="list-unstyled footer-link">
              <li class="d-block">
                <span class="d-block">Address:</span>
                <span class="text-white">Tema community 25</span></li>
                <li class="d-block"><span class="d-block">Telephone:</span><span class="text-white">+233541234988 / +233201866079</span></li>
                <li class="d-block"><span class="d-block">Email:</span><span class="text-white">miguelbernardmartey@gmail.com
            </ul>
          </div>
          <div class="col-md-3 mb-5">
            <h3>Quick Links</h3>
            <ul class="list-unstyled footer-link">
              <li><a href="{% url 'Home' %}">Home</a></li>
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'services' %}">Services</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-3">
          
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-md-center text-left">
            <p>&copy; Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Remote Fitness Training </a></p>

          </div>
        </div>
      </div>
    </footer>
    <!-- END footer -->

    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

    
  </body>
  {% endblock %}
